.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/.gradle/
android/local.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
windows/flutter/ephemeral/
linux/flutter/ephemeral/
web/firebase-messaging-sw.js
coverage/
.env
